In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)

n_rows = 100

df = pd.DataFrame({
    'date_timestamp': pd.date_range(start='2022-01-01', end='2023-12-31', periods=n_rows),
    'user_id': np.random.randint(1, 51, size=n_rows), 
    'transaction_id': [f'TXN{i:010d}' for i in range(1, n_rows + 1)],
    'transaction_amount': np.random.uniform(10, 1000, size=n_rows).round(2)
})

df = df.sort_values('date_timestamp').reset_index(drop=True)

In [2]:
df.to_excel('df_vals.xlsx')

In [ ]:
df['date_hour'] = df['date_timestamp'].dt.floor('H')
rouped_df = df.groupby('date_hour').agg(
    total_transactions=('transaction_id', 'count'),
    unique_users=('user_id', 'nunique'),
    total_transaction_amount=('transaction_amount', 'sum')
).reset_index()

,date_hour,total_transactions,unique_users,total_transaction_amount
0,2022-01-01 00:00:00,1,1,429.17
1,2022-01-08 08:00:00,1,1,400.93
2,2022-01-15 17:00:00,1,1,300.55
3,2022-01-23 02:00:00,1,1,23.94
4,2022-01-30 10:00:00,1,1,206.85
...,...,...,...,...
95,2023-12-01 13:00:00,1,1,800.36
96,2023-12-08 21:00:00,1,1,159.21
97,2023-12-16 06:00:00,1,1,513.12
98,2023-12-23 15:00:00,1,1,698.85
99,2023-12-31 00:00:00,1,1,859.78